:root {
    --unity-metrics-single_line-height: 18px;
    --unity-metrics-single_line_large-height: 20px;
    --unity-metrics-single_line_small-height: 16px;
    --unity-colors-error-text: rgb(90, 0, 0);
    --unity-colors-warning-text: rgb(51, 51, 8);
    --unity-colors-play_mode-background: rgb(236, 236, 236);
    --unity-colors-default-text: rgb(9, 9, 9);
    --unity-colors-default-text-hover: rgb(9, 9, 9);
    --unity-colors-default-background: rgb(165, 165, 165);
    --unity-colors-default-border: rgb(153, 153, 153);
    --unity-metrics-default-border_radius: 3px;
    --unity-colors-highlight-background: rgb(58, 114, 176);
    --unity-colors-highlight-background-hover: rgba(0, 0, 0, 0.06);
    --unity-colors-highlight-background-inactive: rgb(174, 174, 174);
    --unity-colors-highlight-text: rgb(0, 50, 230);
    --unity-colors-highlight-text-inactive: rgb(255, 255, 255);
    --unity-colors-alternated_rows-background: rgb(202, 202, 202);
    --unity-colors-link-text: rgb(76, 126, 255);
    --unity-colors-visited_link-text: rgb(170, 0, 170);
    --unity-colors-app_toolbar-background: rgb(138, 138, 138);
    --unity-colors-app_toolbar_button-background: rgb(200, 200, 200);
    --unity-colors-app_toolbar_button-background-hover: rgb(187, 187, 187);
    --unity-colors-app_toolbar_button-background-checked: rgb(101, 101, 101);
    --unity-colors-app_toolbar_button-background-pressed: rgb(101, 101, 101);
    --unity-colors-app_toolbar_button-border: rgb(107, 107, 107);
    --unity-colors-app_toolbar_button-border_accent: rgb(107, 107, 107);
    --unity-colors-box-background: rgba(185, 185, 185, 0.9);
    --unity-colors-box-border: transparent;
    --unity-colors-button-background: rgb(228, 228, 228);
    --unity-colors-button-background-pressed: rgb(177, 177, 177);
    --unity-colors-button-background-focus: rgb(190, 190, 190);
    --unity-colors-button-background-hover: rgb(236, 236, 236);
    --unity-colors-button-border: rgb(178, 178, 178);
    --unity-colors-button-border-pressed: rgb(112, 112, 112);
    --unity-colors-button-border_accent: rgb(147, 147, 147);
    --unity-colors-button-text: rgb(9, 9, 9);
    --unity-colors-dropdown-background: rgb(223, 223, 223);
    --unity-colors-dropdown-background-hover: rgb(228, 228, 228);
    --unity-colors-dropdown-border: rgb(178, 178, 178);
    --unity-colors-dropdown-border_accent: rgb(147, 147, 147);
    --unity-colors-dropdown-text: rgb(9, 9, 9);
    --unity-colors-helpbox-background: rgba(235, 235, 235, 0.2);
    --unity-colors-helpbox-border: rgb(169, 169, 169);
    --unity-colors-helpbox-text: rgb(22, 22, 22);
    --unity-colors-input_field-background: rgb(240, 240, 240);
    --unity-colors-input_field-border: rgb(183, 183, 183);
    --unity-colors-input_field-border-focus: rgb(29, 80, 135);
    --unity-colors-input_field-border-hover: rgb(108, 108, 108);
    --unity-colors-input_field-border_accent: rgb(160, 160, 160);
    --unity-colors-label-text: rgb(9, 9, 9);
    --unity-colors-label-text-focus: rgb(0, 60, 136);
    --unity-colors-object_field-background: rgb(237, 237, 237);
    --unity-colors-object_field-border: rgb(176, 176, 176);
    --unity-colors-object_field-border-focus: rgb(29, 80, 135);
    --unity-colors-object_field-border-hover: rgb(108, 108, 108);
    --unity-colors-object_field_button-background: rgb(222, 222, 222);
    --unity-colors-object_field_button-background-hover: rgb(204, 204, 204);
    --unity-colors-popup-background: rgb(193, 193, 193);
    --unity-colors-preview-background: rgb(193, 193, 193);
    --unity-colors-preview-border: rgb(153, 153, 153);
    --unity-colors-preview-text: rgb(9, 9, 9);
    --unity-colors-preview_overlay-text: rgb(255, 255, 255);
    --unity-colors-scrollbar_groove-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_groove-border: rgba(0, 0, 0, 0.1);
    --unity-colors-scrollbar_thumb-background: rgb(154, 154, 154);
    --unity-colors-scrollbar_thumb-background-hover: rgb(142, 142, 142);
    --unity-colors-scrollbar_thumb-border: rgb(185, 185, 185);
    --unity-colors-scrollbar_thumb-border-hover: rgb(142, 142, 142);
    --unity-colors-scrollbar_button-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_button-background-hover: rgb(167, 167, 167);
    --unity-colors-progress-background: rgb(96, 96, 96);
    --unity-colors-slider_groove-background: rgb(143, 143, 143);
    --unity-colors-slider_groove-background-disabled: rgb(164, 164, 164);
    --unity-colors-slider_thumb-background: rgb(97, 97, 97);
    --unity-colors-slider_thumb-background-disabled: rgb(155, 155, 155);
    --unity-colors-slider_thumb-background-hover: rgb(79, 79, 79);
    --unity-colors-slider_thumb-border: rgb(97, 97, 97);
    --unity-colors-slider_thumb-border-disabled: rgb(102, 102, 102);
    --unity-colors-slider_thumb_halo-background: rgba(12, 108, 203, 0.5);
    --unity-colors-tab-background: rgb(182, 182, 182);
    --unity-colors-tab-background-checked: rgb(203, 203, 203);
    --unity-colors-tab-background-hover: rgb(176, 176, 176);
    --unity-colors-tab-text: rgb(9, 9, 9);
    --unity-colors-toolbar-background: rgb(203, 203, 203);
    --unity-colors-toolbar-border: rgb(153, 153, 153);
    --unity-metrics-toolbar-height: 21px;
    --unity-colors-toolbar_button-background: rgb(203, 203, 203);
    --unity-colors-toolbar_button-background-hover: rgb(193, 193, 193);
    --unity-colors-toolbar_button-background-checked: rgb(239, 239, 239);
    --unity-colors-toolbar_button-background-focus: rgb(193, 193, 193);
    --unity-colors-toolbar_button-border: rgb(153, 153, 153);
    --unity-colors-toolbar_button-text: rgb(9, 9, 9);
    --unity-colors-toolbar_button-text-hover: rgb(9, 9, 9);
    --unity-colors-toolbar_button-text-checked: rgb(9, 9, 9);
    --unity-metrics-toolbar_button-height: 20px;
    --unity-colors-window-background: rgb(200, 200, 200);
    --unity-colors-window-border: rgb(147, 147, 147);
    --unity-colors-window-text: rgb(9, 9, 9);
    --unity-colors-inspector_titlebar-background: rgb(203, 203, 203);
    --unity-colors-inspector_titlebar-background-hover: rgb(214, 214, 214);
    --unity-colors-inspector_titlebar-border: rgb(127, 127, 127);
    --unity-colors-inspector_titlebar-border_accent: rgb(186, 186, 186);
    --unity-metrics-inspector_titlebar-height: 22px;
    font-size: 11;
    -unity-font: resource("Fonts/System/System normal.ttf");
    color: rgb(9, 9, 9);
    --unity-theme-background-color-1: rgb(228, 228, 228);
    --unity-theme-background-color-2: rgb(236, 236, 236);
    --unity-theme-background-color-3: rgb(177, 177, 177);
    --unity-theme-background-color-4: rgb(190, 190, 190);
    --unity-theme-background-color-5: rgb(203, 203, 203);
    --unity-theme-background-color-6: rgb(193, 193, 193);
    --unity-theme-background-color-7: rgb(239, 239, 239);
    --unity-theme-background-color-8: rgb(223, 223, 223);
    --unity-theme-background-color-9: rgb(176, 176, 176);
    --unity-theme-background-color-10: rgb(182, 182, 182);
    --unity-theme-background-color-11: rgb(143, 143, 143);
    --unity-theme-background-color-12: rgb(97, 97, 97);
    --unity-theme-background-color-13: rgb(79, 79, 79);
    --unity-theme-background-color-14: rgb(164, 164, 164);
    --unity-theme-background-color-15: rgb(155, 155, 155);
    --unity-theme-background-color-16: rgba(12, 108, 203, 0.5);
    --unity-theme-background-color-17: rgb(200, 200, 200);
    --unity-theme-background-color-50: rgb(58, 114, 176);
    --unity-theme-background-color-51: rgba(0, 0, 0, 0.06);
    --unity-theme-background-color-52: rgb(174, 174, 174);
    --unity-theme-background-color-53: rgb(240, 240, 240);
    --unity-theme-background-color-54: rgb(165, 165, 165);
    --unity-theme-background-color-55: rgb(222, 222, 222);
    --unity-theme-background-color-56: rgb(204, 204, 204);
    --unity-theme-background-color-57: rgba(0, 0, 0, 0.05);
    --unity-theme-background-color-58: rgb(154, 154, 154);
    --unity-theme-background-color-59: rgb(167, 167, 167);
    --unity-theme-background-color-60: rgb(142, 142, 142);
    --unity-theme-background-color-80: rgb(202, 202, 202);
    --unity-theme-background-color-81: rgba(185, 185, 185, 0.9);
    --unity-theme-background-color-82: rgb(138, 138, 138);
    --unity-theme-background-color-83: rgb(101, 101, 101);
    --unity-theme-background-color-84: rgb(187, 187, 187);
    --unity-theme-background-color-85: rgb(193, 193, 193);
    --unity-theme-background-color-86: rgba(235, 235, 235, 0.2);
    --unity-theme-background-color-87: rgb(236, 236, 236);
    --unity-theme-background-color-88: rgb(203, 203, 203);
    --unity-theme-background-color-89: rgb(214, 214, 214);
    --unity-theme-background-color-90: rgb(96, 96, 96);
    --unity-theme-border-color-1: rgb(160, 160, 160);
    --unity-theme-border-color-2: rgb(16, 16, 16);
    --unity-theme-border-color-3: rgb(21, 21, 21);
    --unity-theme-border-color-4: rgb(127, 127, 127);
    --unity-theme-border-color-5: rgb(153, 153, 153);
    --unity-theme-border-color-6: rgb(183, 183, 183);
    --unity-theme-border-color-7: rgb(153, 153, 153);
    --unity-theme-border-color-8: rgb(147, 147, 147);
    --unity-theme-border-color-9: rgb(40, 40, 40);
    --unity-theme-border-color-10: rgb(178, 178, 178);
    --unity-theme-border-color-11: rgb(185, 185, 185);
    --unity-theme-border-color-12: rgb(51, 51, 51);
    --unity-theme-border-color-13: rgb(29, 80, 135);
    --unity-theme-border-color-14: rgb(99, 99, 99);
    --unity-theme-border-color-15: rgb(108, 108, 108);
    --unity-theme-border-color-16: rgb(102, 102, 102);
    --unity-theme-border-color-17: rgb(142, 142, 142);
    --unity-theme-border-color-18: rgb(112, 112, 112);
    --unity-theme-border-color-19: rgba(0, 0, 0, 0.1);
    --unity-theme-border-color-20: rgb(107, 107, 107);
    --unity-theme-border-color-21: rgb(127, 127, 127);
    --unity-theme-border-color-22: rgb(97, 97, 97);
    --unity-theme-text-color-1: rgb(9, 9, 9);
    --unity-theme-text-color-2: rgb(9, 9, 9);
    --unity-theme-text-color-3: rgb(9, 9, 9);
    --unity-theme-text-color-4: rgb(9, 9, 9);
    --unity-theme-text-color-5: rgb(255, 255, 255);
    --unity-theme-text-color-6: rgb(0, 50, 230);
    --unity-theme-text-color-7: rgb(9, 9, 9);
    --unity-theme-text-color-8: rgb(90, 0, 0);
    --unity-theme-text-color-9: rgb(51, 51, 8);
    --unity-theme-text-color-10: rgb(0, 60, 136);
    --unity-theme-text-color-11: rgb(76, 126, 255);
    --unity-theme-text-color-12: rgb(170, 0, 170);
    --unity-theme-text-color-13: rgb(255, 255, 255);
    --unity-icons-arrow_right: resource("Builtin Skins/LightSkin/Images/ArrowNavigationRight.png");
    --unity-icons-arrow_left: resource("Builtin Skins/LightSkin/Images/ArrowNavigationLeft.png");
    --unity-icons-clear: resource("UIPackageResources/Images/clear.png");
    --unity-icons-color_picker: resource("UIPackageResources/Images/color_picker.png");
    --unity-icons-console_entry_error: resource("Icons/console.erroricon.png");
    --unity-icons-console_entry_error_small: resource("Icons/console.erroricon.sml.png");
    --unity-icons-console_entry_info: resource("Icons/console.infoicon.png");
    --unity-icons-console_entry_info_small: resource("Icons/console.infoicon.sml.png");
    --unity-icons-console_entry_warn: resource("Icons/console.warnicon.png");
    --unity-icons-console_entry_warn_small: resource("Icons/console.warnicon.sml.png");
    --unity-icons-dropdown: resource("UIPackageResources/Images/dropdown.png");
    --unity-icons-dropdown_toggle: resource("UIPackageResources/Images/dropdown_toggle.png");
    --unity-icons-foldout: resource("UIPackageResources/Images/IN_foldout.png");
    --unity-icons-foldout-checked_focus: resource("UIPackageResources/Images/IN_foldout_focus_on.png");
    --unity-icons-foldout-checked_pressed: resource("UIPackageResources/Images/IN_foldout_act_on.png");
    --unity-icons-foldout-focus: resource("UIPackageResources/Images/IN_foldout_focus.png");
    --unity-icons-foldout-pressed: resource("UIPackageResources/Images/IN_foldout_act.png");
    --unity-icons-foldout-checked: resource("UIPackageResources/Images/IN_foldout_on.png");
    --unity-icons-link: resource("Icons/UnLinked.png");
    --unity-icons-link-checked: resource("Icons/Linked.png");
    --unity-icons-lock: resource("Builtin Skins/LightSkin/Images/IN LockButton.png");
    --unity-icons-lock-checked: resource("Builtin Skins/LightSkin/Images/IN LockButton on.png");
    --unity-icons-lock-checked_pressed: resource("Builtin Skins/LightSkin/Images/IN LockButton on act.png");
    --unity-icons-lock-pressed: resource("Builtin Skins/LightSkin/Images/IN LockButton act.png");
    --unity-icons-minus: resource("UIPackageResources/Images/ol_minus.png");
    --unity-icons-minus-hover: resource("UIPackageResources/Images/ol_minus_act.png");
    --unity-icons-pane_options: resource("Builtin Skins/LightSkin/Images/pane options.png");
    --unity-icons-picker: resource("UIPackageResources/Images/pick.png");
    --unity-icons-plus: resource("UIPackageResources/Images/ol_plus.png");
    --unity-icons-plus-hover: resource("UIPackageResources/Images/ol_plus_act.png");
    --unity-icons-profiler_timeline_digdown_arrow: resource("Profiler/ProfilerTimelineDigDownArrow.png");
    --unity-icons-profiler_timeline_rollup_arrow: resource("Profiler/ProfilerTimelineRollUpArrow.png");
    --unity-icons-pulldown: resource("UIPackageResources/Images/dropdown.png");
    --unity-icons-scroll_down: resource("UIPackageResources/Images/scrolldown.png");
    --unity-icons-scroll_left: resource("UIPackageResources/Images/scrollleft.png");
    --unity-icons-scroll_right: resource("UIPackageResources/Images/scrollright.png");
    --unity-icons-scroll_up: resource("UIPackageResources/Images/scrollup.png");
    --unity-icons-search: resource("UIPackageResources/Images/search_icon.png");
    --unity-icons-search_menu: resource("UIPackageResources/Images/search_menu.png");
    --unity-icons-shuriken_toggle-checked: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormalOn.png");
    --unity-icons-shuriken_toggle-checked_focus: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocusedOn.png");
    --unity-icons-shuriken_toggle-checked_hover: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHoverOn.png");
    --unity-icons-shuriken_toggle_bg: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormal.png");
    --unity-icons-shuriken_toggle_bg-focus: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocused.png");
    --unity-icons-shuriken_toggle_bg-focus_mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocusedMixed.png");
    --unity-icons-shuriken_toggle_bg-hover: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHover.png");
    --unity-icons-shuriken_toggle_bg-hover_mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHoverMixed.png");
    --unity-icons-shuriken_toggle_bg-mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormalMixed.png");
    --unity-icons-toggle-checked: resource("UIPackageResources/Images/toggle_on.png");
    --unity-icons-toggle-checked_focus: resource("UIPackageResources/Images/toggle_on_focus.png");
    --unity-icons-toggle-checked_hover: resource("UIPackageResources/Images/toggle_on_hover.png");
    --unity-icons-toggle-hover_mixed: resource("UIPackageResources/Images/toggle_on_hover.png");
    --unity-icons-toggle-focus_mixed: resource("UIPackageResources/Images/toggle_on_focus.png");
    --unity-icons-toggle-mixed: resource("UIPackageResources/Images/toggle_on.png");
    --unity-icons-toggle_bg: resource("UIPackageResources/Images/toggle_bg.png");
    --unity-icons-toggle_bg-focus: resource("UIPackageResources/Images/toggle_bg_focus.png");
    --unity-icons-toggle_bg-focus_mixed: resource("UIPackageResources/Images/toggle_mixed_bg_focus.png");
    --unity-icons-toggle_bg-hover: resource("UIPackageResources/Images/toggle_bg_hover.png");
    --unity-icons-toggle_bg-hover_mixed: resource("UIPackageResources/Images/toggle_mixed_bg_hover.png");
    --unity-icons-toggle_bg-mixed: resource("UIPackageResources/Images/toggle_mixed_bg.png");
    --unity-icons-window_button_close: resource("Icons/winbtn_win_close.png");
    --unity-icons-window_button_max: resource("Icons/winbtn_win_max.png");
    --unity-icons-window_button_restore: resource("Icons/winbtn_win_restore.png");
}

.unity-theme-env-variables {
    --theme-default-border-radius: 3px;
    --enable-style-hovering: true;
    --single-line-height: 18px;
    --theme-default-control-margin: 3px 3px 2px 3px;
    --theme-default-top-margin: 1px;
    --theme-default-bottom-margin: 1px;
    --theme-default-left-margin: 3px;
    --theme-default-right-margin: 3px;
    --window-toolbar-height: 21px;
    --unity-font-size: 11;
    --unity-font-size-semi-small: 10;
    --unity-font-size-tiny: 8;
    --unity-font-size-small: 9px;
    --unity-font-size-big: 12;
    --unity-font-size-very-big: 16;
    --unity-font-standard-padding-top: 2px;
    --unity-font-standard-padding-top-with-border: 1px;
    --unity-font-standard-padding-bottom: 3px;
    --unity-font-standard-padding-bottom-with-border: 2px;
    --unity-font-popup-padding-top: 0px;
    --unity-font-popup-padding-bottom: 2px;
    --unity-font-button-padding-top: 1px;
    --unity-font-button-padding-bottom: 3px;
    --unity-toolbar-padding-top: 1;
    --unity-toolbar-padding-bottom: 0;
    --current-font: resource("Fonts/System/System normal.ttf");
    --unity-text-color: rgb(9, 9, 9);
    --unity-active-text-color: rgb(0, 60, 136);
    --theme-window-text-color: rgb(9, 9, 9);
    --theme-window-border-color: rgb(102, 102, 102);
    --theme-window-background-color: rgba(179, 179, 179, 0.95);
    --theme-label-text-color: rgb(9, 9, 9);
    --theme-input-text-color: rgb(9, 9, 9);
    --theme-input-text-color-selected: rgb(0, 50, 230);
    --theme-input-text-color-hover: rgb(9, 9, 9);
    --theme-input-background-color: rgb(240, 240, 240);
    --theme-input-border-width: 1px;
    --theme-input-border-color: rgb(183, 183, 183);
    --theme-input-accent-border-color: rgb(160, 160, 160);
    --theme-input-border-focus-width: 1px;
    --theme-input-border-focus-color: rgb(29, 80, 135);
    --theme-input-border-hover-width: 1px;
    --theme-input-border-hover-color: rgb(108, 108, 108);
    --theme-input-border-checked-width: 1px;
    --theme-input-border-checked-color: rgb(108, 108, 108);
    --theme-object-field-background-color: rgb(237, 237, 237);
    --theme-object-field-border-width: 1px;
    --theme-object-field-border-color: rgb(176, 176, 176);
    --theme-object-field-border-hover-width: 1px;
    --theme-object-field-border-hover-color: rgb(108, 108, 108);
    --theme-object-field-border-focus-width: 1px;
    --theme-object-field-border-focus-color: rgb(29, 80, 135);
    --theme-object-field-border-checked-width: 1px;
    --theme-object-field-border-checked-color: rgb(108, 108, 108);
    --theme-object-field-button-background-color: rgb(222, 222, 222);
    --theme-object-field-button-background-color-hover: rgb(204, 204, 204);
    --theme-button-text-color: rgb(9, 9, 9);
    --theme-button-background-color: rgb(228, 228, 228);
    --theme-button-background-color-hover: rgb(236, 236, 236);
    --theme-button-background-color-checked: rgb(177, 177, 177);
    --theme-button-border-width: 1px;
    --theme-button-border-color: rgb(178, 178, 178);
    --theme-button-accent-border-color: rgb(147, 147, 147);
    --theme-toolbar-background-color: rgb(203, 203, 203);
    --theme-toolbar-button-text-color: rgb(9, 9, 9);
    --theme-toolbar-button-text-color-hover: rgb(9, 9, 9);
    --theme-toolbar-button-text-color-checked: rgb(9, 9, 9);
    --theme-toolbar-button-border-width: 1px;
    --theme-toolbar-button-border-color: rgb(153, 153, 153);
    --theme-toolbar-button-border-2-width: 1px;
    --theme-toolbar-button-border-2-color: rgb(153, 153, 153);
    --theme-toolbar-button-background-color: rgb(203, 203, 203);
    --theme-toolbar-button-background-color-hover: rgb(193, 193, 193);
    --theme-toolbar-button-background-color-checked: rgb(239, 239, 239);
    --theme-toolbar-button-background-color-focus: rgb(193, 193, 193);
    --theme-app-toolbar-button-border-width: 1px;
    --theme-app-toolbar-button-border-color: rgb(107, 107, 107);
    --theme-dropdown-border-width: 1px;
    --theme-dropdown-border-color: rgb(178, 178, 178);
    --theme-dropdown-accent-border-color: rgb(147, 147, 147);
    --theme-dropdown-text-color: rgb(9, 9, 9);
    --theme-dropdown-background-color: rgb(223, 223, 223);
    --theme-dropdown-background-color-hover: rgb(228, 228, 228);
    --theme-scrollbar-thumb-background-color: rgb(154, 154, 154);
    --theme-scrollbar-thumb-border-width: 1px;
    --theme-scrollbar-thumb-border-color: rgb(185, 185, 185);
    --theme-scrollbar-thumb-background-color-hover: rgb(142, 142, 142);
    --theme-scrollbar-border-color: rgba(0, 0, 0, 0.1);
    --theme-scrollbar-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color-hover: rgb(167, 167, 167);
    --theme-slider-background-color: rgb(143, 143, 143);
    --theme-slider-background-color-disabled: rgb(164, 164, 164);
    --theme-slider-thumb-background-color: rgb(97, 97, 97);
    --theme-slider-thumb-background-color-hover: rgb(79, 79, 79);
    --theme-slider-thumb-background-color-disabled: rgb(155, 155, 155);
    --theme-slider-thumb-border-width: 1px;
    --theme-slider-thumb-border-color: rgb(97, 97, 97);
    --theme-slider-thumb-border-color-disabled: rgb(102, 102, 102);
    --theme-slider-thumb-extent-background-color-focus: rgba(12, 108, 203, 0.5);
    --theme-box-background-color: rgba(185, 185, 185, 0.9);
    --theme-box-border-color: transparent;
    --theme-help-box-background-color: rgb(202, 202, 202);
    --theme-help-box-border-color: rgb(154, 154, 154);
    --theme-help-box-icon-info: resource("UIPackageResources/Images/console.infoicon.png");
    --theme-help-box-icon-warning: resource("UIPackageResources/Images/console.warnicon.png");
    --theme-help-box-icon-error: resource("UIPackageResources/Images/console.erroricon.png");
    --theme-list-view-drag-hover-bar-color: rgb(51, 86, 218);
    --theme-list-view-drag-hover-item-background-color: rgb(62, 95, 150);
    --theme-image-pick: resource("UIPackageResources/Images/pick_uielements.png");
    --theme-image-toggle-bg: resource("UIPackageResources/Images/toggle_bg.png");
    --theme-image-toggle-bg-hover: resource("UIPackageResources/Images/toggle_bg_hover.png");
    --theme-image-toggle-bg-focus: resource("UIPackageResources/Images/toggle_bg_focus.png");
    --theme-image-toggle-on: resource("UIPackageResources/Images/toggle_on.png");
    --theme-image-toggle-on-hover: resource("UIPackageResources/Images/toggle_on_hover.png");
    --theme-image-toggle-on-focus: resource("UIPackageResources/Images/toggle_on_focus.png");
    --theme-image-foldout: resource("UIPackageResources/Images/IN_foldout.png");
    --theme-image-foldout-act: resource("UIPackageResources/Images/IN_foldout_act.png");
    --theme-image-foldout-focus: resource("UIPackageResources/Images/IN_foldout_focus.png");
    --theme-image-foldout-on: resource("UIPackageResources/Images/IN_foldout_on.png");
    --theme-image-foldout-on-act: resource("UIPackageResources/Images/IN_foldout_act_on.png");
    --theme-image-foldout-on-focus: resource("UIPackageResources/Images/IN_foldout_focus_on.png");
    --theme-image-pulldown: resource("UIPackageResources/Images/dropdown.png");
    --theme-image-dropdown: resource("UIPackageResources/Images/dropdown.png");
    --theme-image-search: resource("UIPackageResources/Images/search_icon.png");
    --theme-image-popup-search: resource("UIPackageResources/Images/search_menu.png");
    --theme-image-clear: resource("UIPackageResources/Images/clear_uielements.png");
    --theme-image-toolbar-breadcrumbs-item: resource("UIPackageResources/Images/breadcrump_mid.png");
    --theme-image-toolbar-breadcrumbs-item-active: resource("UIPackageResources/Images/breadcrump_mid_act.png");
    --theme-image-toolbar-breadcrumbs-first-item: resource("UIPackageResources/Images/breadcrump_left.png");
    --theme-image-toolbar-breadcrumbs-first-item-active: resource("UIPackageResources/Images/breadcrump_left_act.png");
    --theme-image-scroll-up: resource("UIPackageResources/Images/scrollup_uielements.png");
    --theme-image-scroll-down: resource("UIPackageResources/Images/scrolldown_uielements.png");
    --theme-image-scroll-left: resource("UIPackageResources/Images/scrollleft_uielements.png");
    --theme-image-scroll-right: resource("UIPackageResources/Images/scrollright_uielements.png");
    --theme-view-background-color: rgb(194, 194, 194);
    --theme-line-background-color-hover: rgb(178, 178, 178);
    --theme-background-color-alternate: rgb(188, 188, 188);
    --theme-line-selection-background-color: rgb(174, 174, 174);
    --theme-line-selection-background-color-focus: rgb(58, 114, 176);
    --theme-line-selection-text-color: rgb(255, 255, 255);
    --progress-bar-back-background-color: rgb(182, 182, 182);
    --progress-bar-back-border-color: rgb(128, 128, 128);
    --progress-bar-progress-image: resource("UIPackageResources/Images/progress_front.png");
}

.unity-disabled {
    opacity: 0.5;
}

.unity-base-field {
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.unity-base-field__label {
    min-width: 150px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.unity-base-field__input {
    flex: 1 0 0;
    overflow: hidden;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.unity-base-field__label--with-dragger {
    cursor: slide-arrow;
}

.unity-button {
    -unity-text-align: middle-center;
    flex: 0 0 auto;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(9, 9, 9);
    background-color: rgb(228, 228, 228);
    border-left-color: rgb(178, 178, 178);
    border-top-color: rgb(178, 178, 178);
    border-right-color: rgb(178, 178, 178);
    border-bottom-color: rgb(147, 147, 147);
    border-width: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-top: 1px;
    margin-right: 3px;
    margin-bottom: 1px;
    margin-left: 3px;
    border-radius: 3px;
    font-size: 11;
}

.unity-button:hover {
    background-color: rgb(236, 236, 236);
}

.unity-button:active {
    background-color: rgb(177, 177, 177);
    border-color: rgb(147, 147, 147);
    border-top-color: rgb(112, 112, 112);
}

.unity-label {
    flex: 0 0 auto;
    margin-top: 0px;
    padding-left: 1px;
    padding-right: 2px;
    white-space: nowrap;
    color: rgb(9, 9, 9);
}

.unity-toggle {
    margin-top: 1px;
    margin-bottom: 3px;
}

.unity-toggle__label {
    padding-top: 0px;
    padding-bottom: 0px;
}

.unity-toggle__input {
    flex-direction: row;
    flex-basis: auto;
}

.unity-toggle__checkmark {
    padding-top: 0;
    width: 14px;
    height: 14px;
    flex: 0 0 auto;
    align-self: center;
    background-image: resource("UIPackageResources/Images/toggle_bg.png");
}

.unity-toggle > .unity-toggle__input:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_on.png");
}

.unity-toggle > .unity-toggle__input:active > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_on.png");
}

.unity-toggle > .unity-toggle__input:hover > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_bg_hover.png");
}

.unity-toggle > .unity-toggle__input:hover:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_on_hover.png");
}

.unity-toggle > .unity-toggle__input:hover:active > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_on_hover.png");
}

.unity-toggle > .unity-toggle__input:focus > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_bg_focus.png");
}

.unity-toggle > .unity-toggle__input:focus:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/toggle_on_focus.png");
}

.unity-toggle__text {
    margin-top: 0;
    margin-left: 1px;
    align-self: center;
}

.unity-base-slider__input {
    flex: 1 0 auto;
    flex-wrap: nowrap;
    overflow: visible;
}

.unity-base-slider--vertical .unity-base-slider__input {
    flex-direction: column;
}

.unity-base-slider--horizontal .unity-base-slider__input {
    flex-direction: row;
}

.unity-base-slider--vertical {
    width: 20px;
    flex-direction: column;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    overflow: visible;
}

.unity-base-slider--horizontal {
    overflow: visible;
}

.unity-base-slider--vertical .unity-base-slider__tracker {
    background-color: rgb(143, 143, 143);
    top: 0px;
    bottom: 0px;
    left: 4px;
    margin: 2px 1px 2px 0px;
    width: 2px;
    position: absolute;
}

.unity-base-slider--horizontal .unity-base-slider__tracker {
    background-color: rgb(143, 143, 143);
    top: 6px;
    margin: 2px 1px 2px 0px;
    height: 2px;
}

.unity-base-slider--vertical .unity-base-slider__dragger {
    width: 10px;
    height: 10px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
}

.unity-base-slider--horizontal .unity-base-slider__dragger {
    width: 10px;
    height: 10px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
    margin: -2px 0px 0px 0px;
}

.unity-base-slider__dragger:hover {
    background-color: rgb(79, 79, 79);
}

.unity-base-slider__input:focus .unity-base-slider__dragger {
    background-color: rgb(79, 79, 79);
}

.unity-base-slider__tracker:disabled {
    opacity: 1;
    background-color: rgb(164, 164, 164);
}

.unity-base-slider__dragger:disabled {
    opacity: 1;
    border-color: rgb(102, 102, 102);
    background-color: rgb(155, 155, 155);
}

.unity-base-slider__dragger-border {
    background-color: rgba(12, 108, 203, 0.5);
    width: 0;
    height: 0;
    padding: 0;
    border-radius: 8px;
    border-width: 0;
    margin: 0;
    position: absolute;
}

.unity-base-slider--horizontal .unity-base-slider__dragger-border {
    margin: 0 0 0 -4px;
}

.unity-base-slider--vertical .unity-base-slider__dragger-border {
    margin: -4px 0 0 -4px;
}

.unity-base-slider__input:focus .unity-base-slider__dragger-border {
    width: 18px;
    height: 18px;
}

.unity-base-slider__drag-container {
    flex-grow: 1;
}

.unity-base-slider--horizontal .unity-base-slider__drag-container {
    min-width: 20px;
}

.unity-base-slider--vertical .unity-base-slider__drag-container {
    min-height: 20px;
}

.unity-base-slider--horizontal .unity-base-slider__text-field {
    width: 50px;
    height: 20px;
    margin: 0 0 0 4px;
}

.unity-base-slider--vertical .unity-base-slider__text-field {
    min-width: 20px;
    height: 20px;
    margin: 4px 0 0 0;
}

.unity-min-max-slider__input {
    overflow: visible;
    min-height: 16px;
}

.unity-min-max-slider__tracker {
    top: 6px;
    margin: 2px 1px 2px 0px;
    height: 2px;
    background-color: rgb(143, 143, 143);
}

.unity-min-max-slider__dragger {
    -unity-slice-left: 7;
    -unity-slice-top: 0;
    -unity-slice-right: 7;
    -unity-slice-bottom: 0;
    margin-top: 4px;
    margin-left: -2px;
    margin-right: -2px;
    width: 12px;
    height: 10px;
    position: absolute;
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb.png");
}

.unity-min-max-slider__min-thumb {
    cursor: resize-horizontal;
    position: absolute;
}

.unity-min-max-slider__max-thumb {
    cursor: resize-horizontal;
    position: absolute;
}

.unity-scroller--horizontal {
    height: 13px;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-width: 1px;
}

.unity-scroller--vertical {
    width: 13px;
    background-color: rgba(0, 0, 0, 0.05);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-width: 1px;
}

.unity-scroller--horizontal > .unity-scroller__low-button {
    left: 0;
    background-image: resource("UIPackageResources/Images/scrollleft_uielements.png");
    width: 16px;
    height: 12px;
    position: absolute;
}

.unity-scroller--horizontal > .unity-scroller__high-button {
    right: 0;
    background-image: resource("UIPackageResources/Images/scrollright_uielements.png");
    width: 16px;
    height: 12px;
    position: absolute;
}

.unity-scroller--vertical > .unity-scroller__low-button {
    top: 0;
    background-image: resource("UIPackageResources/Images/scrollup_uielements.png");
    width: 12px;
    height: 16px;
    position: absolute;
}

.unity-scroller--vertical > .unity-scroller__high-button {
    bottom: 0;
    background-image: resource("UIPackageResources/Images/scrolldown_uielements.png");
    width: 12px;
    height: 16px;
    position: absolute;
}

.unity-scroller--horizontal > .unity-scroller__low-button:hover {
    background-color: rgb(167, 167, 167);
}

.unity-scroller--horizontal > .unity-scroller__high-button:hover {
    background-color: rgb(167, 167, 167);
}

.unity-scroller--vertical > .unity-scroller__low-button:hover {
    background-color: rgb(167, 167, 167);
}

.unity-scroller--vertical > .unity-scroller__high-button:hover {
    background-color: rgb(167, 167, 167);
}

.unity-scroller--horizontal .unity-base-slider__tracker {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 13px;
    position: absolute;
    background-color: transparent;
}

.unity-scroller--vertical .unity-base-slider__tracker {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13px;
    position: absolute;
    background-color: transparent;
}

.unity-scroller--vertical .unity-base-slider__dragger {
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    background-color: rgb(154, 154, 154);
    border-radius: 6px;
    width: 12px;
    min-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}

.unity-scroller--horizontal .unity-base-slider__dragger {
    border-width: 1px;
    border-color: rgb(185, 185, 185);
    background-color: rgb(154, 154, 154);
    border-radius: 6px;
    height: 12px;
    min-width: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}

.unity-scroller--vertical .unity-base-slider__dragger:hover {
    background-color: rgb(142, 142, 142);
}

.unity-scroller--horizontal .unity-base-slider__dragger:hover {
    background-color: rgb(142, 142, 142);
}

.unity-scroller--horizontal > .unity-scroller__slider {
    flex: 1 0 0;
    height: 12px;
    margin: 0 16px 0 16px;
    overflow: hidden;
}

.unity-scroller--vertical > .unity-scroller__slider {
    flex: 1 0 0;
    width: 12px;
    margin: 16px 0 16px 0;
    overflow: hidden;
}

.unity-scroller--vertical > .unity-base-slider--vertical {
    padding: 0;
}

.unity-scroller--horizontal .unity-base-slider__input:focus .unity-base-slider__dragger {
    background-color: rgb(154, 154, 154);
}

.unity-scroller--vertical .unity-base-slider__input:focus .unity-base-slider__dragger {
    background-color: rgb(154, 154, 154);
}

.unity-scroller--vertical .unity-base-slider__input:focus .unity-base-slider__dragger:hover {
    background-color: rgb(142, 142, 142);
}

.unity-scroller--horizontal .unity-base-slider__input:focus .unity-base-slider__dragger:hover {
    background-color: rgb(142, 142, 142);
}

.unity-scroller--horizontal .unity-base-slider__input:focus .unity-base-slider__dragger-border {
    width: 0;
    height: 0;
}

.unity-scroller--vertical .unity-base-slider__input:focus .unity-base-slider__dragger-border {
    width: 0;
    height: 0;
}

.unity-scroll-view {
    flex-shrink: 1;
}

.unity-scroll-view__content-container {
    flex-shrink: 0;
}

.unity-scroll-view--vertical > .unity-scroll-view__content-viewport {
    flex-direction: column;
}

.unity-scroll-view--vertical > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    flex-direction: column;
}

.unity-scroll-view--horizontal > .unity-scroll-view__content-viewport {
    flex-direction: row;
}

.unity-scroll-view--horizontal > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    flex-direction: row;
}

.unity-scroll-view--vertical-horizontal > .unity-scroll-view__content-viewport {
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
}

.unity-scroll-view--vertical-horizontal > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
}

.unity-scroll-view__content-viewport {
    flex: auto;
    overflow: hidden;
}

.unity-scroll-view--horizontal.unity-scroll-view--scroll > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    overflow: scroll;
}

.unity-scroll-view--vertical.unity-scroll-view--scroll > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    overflow: scroll;
}

.unity-scroll-view--vertical-horizontal.unity-scroll-view--scroll > .unity-scroll-view__content-viewport > .unity-scroll-view__content-container {
    overflow: scroll;
}

.unity-scroll-view--vertical-horizontal.unity-scroll-view--scroll > .unity-scroll-view__content-viewport {
    flex-direction: row;
    overflow: scroll;
}

.unity-scroll-view__horizontal-scroller {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 17px;
}

.unity-scroll-view__vertical-scroller {
    position: absolute;
    top: 0;
    bottom: 17px;
    right: 0;
}

.unity-box {
    background-color: rgba(185, 185, 185, 0.9);
    border-color: transparent;
    border-width: 1px;
}

.unity-popup-window {
    -unity-text-align: upper-center;
    color: rgb(9, 9, 9);
    margin: 0;
    padding: 0;
    padding-top: 3px;
    background-color: rgba(179, 179, 179, 0.95);
    border-width: 1px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(102, 102, 102);
}

.unity-popup-window__content-container {
    -unity-text-align: upper-left;
    padding: 24px 4px 4px 4px;
    margin: 0;
}

.unity-foldout {
    margin-top: 0;
}

.unity-foldout__toggle > .unity-toggle__input {
    margin-top: 0;
}

.unity-foldout__toggle .unity-toggle__checkmark {
    align-self: flex-start;
    margin-left: 1px;
    margin-right: 3px;
    margin-top: 1px;
    -unity-slice-left: 13;
    -unity-slice-top: 13;
    background-image: resource("UIPackageResources/Images/IN_foldout.png");
    width: 13px;
    height: 13px;
}

.unity-foldout__toggle .unity-text-element {
    margin-top: 0;
    margin-left: -2px;
    padding-top: 1px;
    padding-left: 0px;
}

.unity-foldout__content {
    margin-left: 15px;
}

.unity-foldout .unity-base-field__label {
    min-width: 135px;
}

.unity-foldout--depth-1 .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-foldout--depth-2 .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-foldout--depth-3 .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-foldout--depth-4 .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-foldout--depth-max .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-inspector-element .unity-foldout__toggle {
    margin-left: -15px;
}

.unity-foldout--depth-1 > .unity-base-field > .unity-base-field__label {
    margin-right: -15px;
    padding-right: 17px;
}

.unity-foldout--depth-1 > .unity-property-field > .unity-base-field > .unity-base-field__label {
    margin-right: -15px;
    padding-right: 17px;
}

.unity-foldout--depth-2 > .unity-base-field > .unity-base-field__label {
    margin-right: -30px;
    padding-right: 32px;
}

.unity-foldout--depth-2 > .unity-property-field > .unity-base-field > .unity-base-field__label {
    margin-right: -30px;
    padding-right: 32px;
}

.unity-foldout--depth-3 > .unity-base-field > .unity-base-field__label {
    margin-right: -45px;
    padding-right: 47px;
}

.unity-foldout--depth-3 > .unity-property-field > .unity-base-field > .unity-base-field__label {
    margin-right: -45px;
    padding-right: 47px;
}

.unity-foldout--depth-4 > .unity-base-field > .unity-base-field__label {
    margin-right: -60px;
    padding-right: 62px;
}

.unity-foldout--depth-4 > .unity-property-field > .unity-base-field > .unity-base-field__label {
    margin-right: -60px;
    padding-right: 62px;
}

.unity-foldout--depth-max > .unity-base-field > .unity-base-field__label {
    margin-right: -75px;
    padding-right: 77px;
}

.unity-foldout--depth-max > .unity-property-field > .unity-base-field > .unity-base-field__label {
    margin-right: -75px;
    padding-right: 77px;
}

.unity-foldout__toggle > .unity-toggle__input:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_on.png");
}

.unity-foldout__toggle > .unity-toggle__input:active > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_on.png");
}

.unity-foldout__toggle > .unity-toggle__input:focus > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_focus.png");
}

.unity-foldout__toggle > .unity-toggle__input:focus:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_focus_on.png");
}

.unity-foldout__toggle > .unity-toggle__input:hover > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout.png");
}

.unity-foldout__toggle > .unity-toggle__input:hover:checked > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_on.png");
}

.unity-foldout__toggle > .unity-toggle__input:hover:active > .unity-toggle__checkmark {
    background-image: resource("UIPackageResources/Images/IN_foldout_on.png");
}

.unity-base-text-field {
    white-space: nowrap;
}

.unity-base-text-field__input {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    --unity-selection-color: rgba(61, 128, 223, 0.65);
    cursor: text;
    -unity-overflow-clip-box: content-box;
    flex: 1 1 auto;
    -unity-text-align: middle-left;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-left-color: rgb(183, 183, 183);
    border-top-color: rgb(160, 160, 160);
    border-right-color: rgb(183, 183, 183);
    border-bottom-color: rgb(183, 183, 183);
    border-radius: 3px;
    color: rgb(9, 9, 9);
    --unity-cursor-color: rgb(0, 0, 0);
}

.unity-base-field:focus > .unity-base-field__label {
    color: rgb(0, 60, 136);
}

.unity-base-text-field:hover > .unity-base-text-field__input {
    border-width: 1px;
    border-color: rgb(108, 108, 108);
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field__input:hover {
    border-width: 1px;
    border-color: rgb(108, 108, 108);
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field:focus > .unity-base-text-field__input {
    border-width: 1px;
    border-color: rgb(29, 80, 135);
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-text-field__input:focus {
    border-width: 1px;
    border-color: rgb(29, 80, 135);
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.unity-base-field__object:focus > .unity-base-field__label {
    color: rgb(0, 60, 136);
}

.unity-two-pane-split-view {
    flex-grow: 1;
    overflow: hidden;
}

.unity-two-pane-split-view--vertical {
    flex-direction: column;
}

.unity-two-pane-split-view--horizontal {
    flex-direction: row;
}

.unity-two-pane-split-view__content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.unity-two-pane-split-view__handle-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.unity-two-pane-split-view__dragline {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.unity-two-pane-split-view__dragline--horizontal {
    width: 10px;
    left: -5px;
    top: 0px;
    bottom: 0px;
    cursor: resize-horizontal;
}

.unity-two-pane-split-view__dragline--vertical {
    height: 10px;
    top: -5px;
    left: 0px;
    right: 0px;
    cursor: resize-vertical;
}

.unity-two-pane-split-view__dragline-anchor {
    position: absolute;
    background-color: rgb(89, 89, 89);
}

.unity-two-pane-split-view__dragline-anchor:hover {
    background-color: rgb(255, 255, 255);
}

.unity-two-pane-split-view__dragline-anchor--horizontal {
    width: 1px;
    top: 0px;
    bottom: 0px;
}

.unity-two-pane-split-view__dragline-anchor--vertical {
    height: 1px;
    left: 0px;
    right: 0px;
}

.unity-tree-view {
    background-color: rgb(194, 194, 194);
}

.unity-tree-view__list-view {
    flex: 1 0 0;
}

.unity-tree-view__item-toggle {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.unity-tree-view__item-toggle > .unity-toggle__checkmark {
    margin-top: 3px;
    width: 14px;
    height: 14px;
}

.unity-tree-view__item {
    flex-shrink: 0;
}

.unity-tree-view__item-indents {
    flex-direction: row;
    flex-shrink: 0;
}

.unity-tree-view__item-indent {
    width: 12px;
    flex-shrink: 0;
}

.unity-tree-view__item-content {
    flex: 1 0 auto;
}

.unity-list-view__item--alternative-background {
    background-color: rgb(188, 188, 188);
}

.unity-list-view__item:hover {
    background-color: rgb(178, 178, 178);
}

.unity-list-view__item--selected {
    background-color: rgb(174, 174, 174);
}

.unity-list-view__item--selected:hover {
    background-color: rgb(58, 114, 176);
    color: rgb(255, 255, 255);
}

.unity-list-view:focus > .unity-list-view__item--selected {
    background-color: rgb(58, 114, 176);
    color: rgb(255, 255, 255);
}

.unity-list-view__background-fill {
    flex-grow: 1;
}

.unity-list-view--with-border {
    border-width: 1px;
    border-color: rgb(176, 176, 176);
}

.unity-list-view__item--drag-hover {
    background-color: rgb(62, 95, 150);
}

.unity-list-view__drag-hover-bar {
    position: absolute;
    height: 2px;
    background-color: rgb(51, 86, 218);
}

.unity-help-box {
    align-items: center;
    flex-direction: row;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(154, 154, 154);
    background-color: rgb(202, 202, 202);
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px;
}

.unity-help-box__label {
    font-size: 9px;
    white-space: normal;
    flex-shrink: 1;
    padding-left: 0;
    padding-right: 1px;
}

.unity-help-box__icon {
    min-width: 34px;
    max-width: 34px;
    min-height: 32px;
    max-height: 32px;
    -unity-background-scale-mode: scale-to-fit;
}

.unity-help-box__icon--info {
    background-image: resource("UIPackageResources/Images/console.infoicon.png");
}

.unity-help-box__icon--warning {
    background-image: resource("UIPackageResources/Images/console.warnicon.png");
}

.unity-help-box__icon--error {
    background-image: resource("UIPackageResources/Images/console.erroricon.png");
}

.unity-ui-document__root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.unity-binding--prefab-override {
    -unity-font-style: bold;
}

.unity-binding--prefab-override > .unity-base-field__label {
    -unity-font-style: bold;
}

.unity-binding--prefab-override > .unity-base-field__input {
    -unity-font-style: bold;
}

.unity-binding__prefab-override-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(50, 163, 225);
}

.unity-color-field__input {
    min-height: 16px;
}

.unity-enum-field__input {
    -unity-text-align: middle-left;
    border-radius: 3px;
    flex-direction: row;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 2px;
    border-width: 1px;
    border-left-color: rgb(178, 178, 178);
    border-top-color: rgb(178, 178, 178);
    border-right-color: rgb(178, 178, 178);
    border-bottom-color: rgb(147, 147, 147);
    background-color: rgb(223, 223, 223);
}

.unity-base-popup-field__input {
    -unity-text-align: middle-left;
    border-radius: 3px;
    flex-direction: row;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 2px;
    border-width: 1px;
    border-left-color: rgb(178, 178, 178);
    border-top-color: rgb(178, 178, 178);
    border-right-color: rgb(178, 178, 178);
    border-bottom-color: rgb(147, 147, 147);
    background-color: rgb(223, 223, 223);
    min-width: 55px;
}

.unity-enum-field__arrow {
    background-image: resource("UIPackageResources/Images/dropdown.png");
    width: 12px;
    height: 12px;
    align-self: center;
}

.unity-base-popup-field__arrow {
    background-image: resource("UIPackageResources/Images/dropdown.png");
    width: 12px;
    height: 12px;
    align-self: center;
}

.unity-enum-field__text {
    margin-top: 1px;
    overflow: hidden;
    -unity-text-align: middle-left;
    white-space: nowrap;
    flex-grow: 1;
    color: rgb(9, 9, 9);
}

.unity-base-popup-field__text {
    margin-top: 1px;
    overflow: hidden;
    -unity-text-align: middle-left;
    white-space: nowrap;
    flex-grow: 1;
    color: rgb(9, 9, 9);
}

.unity-enum-field:hover > .unity-enum-field__input {
    background-color: rgb(228, 228, 228);
}

.unity-base-popup-field:hover > .unity-base-popup-field__input {
    background-color: rgb(228, 228, 228);
}

.unity-property-control {
    flex: 1 0 0;
    flex-direction: row;
}

.unity-property-control__dragger {
    cursor: slide-arrow;
}

.unity-property-control__label {
    flex: 0 0 auto;
    height: 16px;
}

.unity-property-control__control {
    flex: 1 0 0;
    height: 16px;
}

.unity-object-field__input {
    flex-direction: row;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
    border-color: rgb(176, 176, 176);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.unity-object-field:focus > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(29, 80, 135);
}

.unity-object-field:hover > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(108, 108, 108);
}

.unity-object-field:checked > .unity-object-field__input {
    border-width: 1px;
    border-color: rgb(108, 108, 108);
}

.unity-object-field__object:focus > .unity-object-field-display__label {
    color: rgb(9, 9, 9);
}

.unity-object-field__object {
    flex-direction: row;
    flex: 1 0 0;
    -unity-slice-left: 4;
    -unity-slice-top: 4;
    -unity-slice-right: 4;
    -unity-slice-bottom: 4;
}

.unity-object-field-display__icon {
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 0;
    max-width: 14px;
    max-height: 12px;
    align-self: center;
}

.unity-object-field-display__label {
    flex: 1 0 0;
    margin-left: 2px;
    padding-left: 0;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 2px;
    overflow: hidden;
    color: rgb(9, 9, 9);
}

.unity-object-field__selector {
    width: 18px;
    height: 16px;
    align-self: center;
    background-color: rgb(222, 222, 222);
    background-image: resource("UIPackageResources/Images/pick_uielements.png");
    -unity-slice-left: 1;
    -unity-slice-top: 1;
    -unity-slice-right: 1;
    -unity-slice-bottom: 1;
}

.unity-object-field__selector:hover {
    background-color: rgb(204, 204, 204);
}

.unity-curve-field__input {
    background-color: rgb(86, 86, 86);
    --unity-curve-color: rgb(0, 255, 0);
    margin-top: 1px;
    min-height: 15px;
}

.unity-curve-field__content {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
}

.unity-curve-field__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -unity-slice-left: 3;
    -unity-slice-top: 3;
    -unity-slice-right: 3;
    -unity-slice-bottom: 3;
    background-image: resource("UIPackageResources/Images/colorpickerbox.png");
}

.unity-curve-field__input:focus > .unity-curve-field__border {
    background-image: resource("UIPackageResources/Images/colorpickerboxfocused.png");
}

.unity-gradient-field__input {
    min-height: 16px;
    background-image: resource("UIPackageResources/Images/Gradient-Background.png");
}

.unity-gradient-field__border {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-width: 1px;
    border-color: rgb(105, 105, 105);
}

.unity-gradient-field__content {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    top: 1px;
}

.unity-composite-field .unity-base-field__input {
    margin-right: 1px;
}

.unity-composite-field > .unity-composite-field__input {
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    margin-right: 0;
}

.unity-composite-field--multi-line > .unity-base-field__input {
    flex-direction: column;
}

.unity-composite-field--multi-line {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-composite-field__field {
    min-width: 0;
    flex-direction: row;
    flex: 1 0 0;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.unity-composite-field__field-group {
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1px;
    margin-bottom: 1px;
}

.unity-composite-field__field-group > .unity-composite-field__field {
    flex: 1 0 0;
    flex-direction: row;
    flex-wrap: nowrap;
}

.unity-composite-field__field > .unity-base-field__label {
    min-width: 15px;
    margin-left: 3px;
    margin-right: 0;
    flex: 0 0 15px;
}

.unity-composite-field__field--first > .unity-base-field__label {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1px;
}

.unity-base-field--no-label .unity-composite-field__field-spacer {
    position: absolute;
}

.unity-composite-field__field-spacer {
    flex: 1 0 auto;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
}

.unity-inspector-element--uie {
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 0;
}

.unity-inspector-element > .unity-base-field > .unity-base-field__label {
    padding-left: 16px;
}

.unity-inspector-element .unity-property-field__label {
    padding-left: 0;
    min-width: 120px;
}

.unity-inspector-element > .unity-property-field > .unity-base-field > .unity-base-field__label {
    padding-left: 0;
}

.unity-bounds-field > .unity-base-field__input {
    margin-right: 0;
}

.unity-bounds-field .unity-composite-field {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}

.unity-bounds-field {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-int-field {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-field__input {
    flex: 1 0 auto;
}

.unity-bounds-int-field__input {
    flex: 1 0 auto;
}

.unity-bounds-field__label {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-int-field__label {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-field__center-field {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-field__extents-field {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-int-field__position-field {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-int-field__size-field {
    margin-top: 0;
    margin-bottom: 0;
}

.unity-bounds-field__center-field > .unity-base-field__label {
    padding-left: 98px;
}

.unity-bounds-field__extents-field > .unity-base-field__label {
    padding-left: 98px;
}

.unity-bounds-int-field__position-field > .unity-base-field__label {
    padding-left: 98px;
}

.unity-bounds-int-field__size-field > .unity-base-field__label {
    padding-left: 98px;
}

.unity-bounds-field.unity-base-field--no-label > .unity-base-field__input > .unity-vector3-field > .unity-base-field__label {
    padding-left: 2px;
    min-width: 54px;
}

.unity-bounds-int-field.unity-base-field--no-label > .unity-base-field__input > .unity-vector3-int-field > .unity-base-field__label {
    padding-left: 2px;
    min-width: 54px;
}

.unity-progress-bar {
    flex-shrink: 0;
    padding-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.unity-progress-bar__progress {
    position: absolute;
    -unity-slice-top: 3;
    -unity-slice-bottom: 3;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: resource("UIPackageResources/Images/progress_front.png");
}

.unity-progress-bar__background {
    border-width: 1px;
    border-color: rgb(128, 128, 128);
    background-color: rgb(182, 182, 182);
}

.unity-progress-bar__title-container {
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.unity-progress-bar__title {
    -unity-text-align: middle-center;
    font-size: 11;
    flex-grow: 1;
    margin-top: 1px;
    margin-bottom: 1px;
}

.unity-search-field-base {
    width: 295px;
    min-width: 32px;
    background-image: none;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    min-height: 16px;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
    align-items: center;
    flex: none;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-left-color: rgb(183, 183, 183);
    border-top-color: rgb(160, 160, 160);
    border-right-color: rgb(183, 183, 183);
    border-bottom-color: rgb(183, 183, 183);
    border-radius: 3px;
}

.unity-search-field-base:hover {
    border-width: 1px;
    border-color: rgb(108, 108, 108);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.unity-search-field-base:focus {
    border-width: 1px;
    border-color: rgb(29, 80, 135);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.unity-search-field-base__search-button {
    width: 8px;
    height: 8px;
    background-image: resource("UIPackageResources/Images/search_icon.png");
    background-color: transparent;
    margin-left: 2px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.unity-search-field-base--popup > .unity-search-field-base__search-button {
    width: 11px;
    height: 8px;
    background-image: resource("UIPackageResources/Images/search_menu.png");
}

.unity-search-field-base__search-button:hover {
    background-color: transparent;
}

.unity-search-field-base__text-field {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.unity-search-field-base__text-field:focus {
    background-image: none;
}

.unity-search-field-base__text-field__input {
    min-height: 11px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 10;
    height: 14px;
    border-width: 0;
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 3px;
    flex-grow: 1;
}

.unity-search-field-base__text-field:hover > .unity-search-field-base__text-field__input {
    border-width: 0;
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 3px;
}

.unity-search-field-base__text-field > .unity-search-field-base__text-field__input:hover {
    border-width: 0;
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 3px;
}

.unity-search-field-base__text-field:focus > .unity-search-field-base__text-field__input {
    border-width: 0;
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 3px;
}

.unity-search-field-base__text-field > .unity-search-field-base__text-field__input:focus {
    border-width: 0;
    padding-left: 0;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 3px;
}

.unity-search-field-base__cancel-button {
    width: 14px;
    height: 13px;
    background-image: resource("UIPackageResources/Images/clear_uielements.png");
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.unity-search-field-base__cancel-button:hover {
    background-color: transparent;
}

.unity-search-field-base__cancel-button--off {
    background-image: none;
}

.unity-binding--animation-animated {
    -unity-background-image-tint-color: rgb(209, 247, 255);
}

.unity-binding--animation-animated > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(209, 247, 255);
}

.unity-binding--animation-recorded {
    -unity-background-image-tint-color: rgb(255, 153, 153);
}

.unity-binding--animation-recorded > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 153, 153);
}

.unity-binding--animation-candidate {
    -unity-background-image-tint-color: rgb(255, 178, 153);
}

.unity-binding--animation-candidate > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 178, 153);
}

.unity-min-max-slider__input:active > .unity-min-max-slider__dragger:hover {
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb_act.png");
}

.unity-min-max-slider__input:focus > .unity-min-max-slider__dragger {
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb.png");
}

.unity-gradient-field__input:focus > .unity-gradient-field__border {
    border-color: rgb(51, 81, 226);
}
