:root {
    --unity-metrics-single_line-height: 18px;
    --unity-metrics-single_line_large-height: 20px;
    --unity-metrics-single_line_small-height: 16px;
    --unity-colors-error-text: rgb(90, 0, 0);
    --unity-colors-warning-text: rgb(51, 51, 8);
    --unity-colors-play_mode-background: rgb(236, 236, 236);
    --unity-colors-default-text: rgb(9, 9, 9);
    --unity-colors-default-text-hover: rgb(9, 9, 9);
    --unity-colors-default-background: rgb(165, 165, 165);
    --unity-colors-default-border: rgb(153, 153, 153);
    --unity-metrics-default-border_radius: 3px;
    --unity-colors-highlight-background: rgb(58, 114, 176);
    --unity-colors-highlight-background-hover: rgba(0, 0, 0, 0.06);
    --unity-colors-highlight-background-inactive: rgb(174, 174, 174);
    --unity-colors-highlight-text: rgb(0, 50, 230);
    --unity-colors-highlight-text-inactive: rgb(255, 255, 255);
    --unity-colors-alternated_rows-background: rgb(202, 202, 202);
    --unity-colors-link-text: rgb(76, 126, 255);
    --unity-colors-visited_link-text: rgb(170, 0, 170);
    --unity-colors-app_toolbar-background: rgb(138, 138, 138);
    --unity-colors-app_toolbar_button-background: rgb(200, 200, 200);
    --unity-colors-app_toolbar_button-background-hover: rgb(187, 187, 187);
    --unity-colors-app_toolbar_button-background-checked: rgb(101, 101, 101);
    --unity-colors-app_toolbar_button-background-pressed: rgb(101, 101, 101);
    --unity-colors-app_toolbar_button-border: rgb(107, 107, 107);
    --unity-colors-app_toolbar_button-border_accent: rgb(107, 107, 107);
    --unity-colors-box-background: rgba(185, 185, 185, 0.9);
    --unity-colors-box-border: transparent;
    --unity-colors-button-background: rgb(228, 228, 228);
    --unity-colors-button-background-pressed: rgb(177, 177, 177);
    --unity-colors-button-background-focus: rgb(190, 190, 190);
    --unity-colors-button-background-hover: rgb(236, 236, 236);
    --unity-colors-button-border: rgb(178, 178, 178);
    --unity-colors-button-border-pressed: rgb(112, 112, 112);
    --unity-colors-button-border_accent: rgb(147, 147, 147);
    --unity-colors-button-text: rgb(9, 9, 9);
    --unity-colors-dropdown-background: rgb(223, 223, 223);
    --unity-colors-dropdown-background-hover: rgb(228, 228, 228);
    --unity-colors-dropdown-border: rgb(178, 178, 178);
    --unity-colors-dropdown-border_accent: rgb(147, 147, 147);
    --unity-colors-dropdown-text: rgb(9, 9, 9);
    --unity-colors-helpbox-background: rgba(235, 235, 235, 0.2);
    --unity-colors-helpbox-border: rgb(169, 169, 169);
    --unity-colors-helpbox-text: rgb(22, 22, 22);
    --unity-colors-input_field-background: rgb(240, 240, 240);
    --unity-colors-input_field-border: rgb(183, 183, 183);
    --unity-colors-input_field-border-focus: rgb(29, 80, 135);
    --unity-colors-input_field-border-hover: rgb(108, 108, 108);
    --unity-colors-input_field-border_accent: rgb(160, 160, 160);
    --unity-colors-label-text: rgb(9, 9, 9);
    --unity-colors-label-text-focus: rgb(0, 60, 136);
    --unity-colors-object_field-background: rgb(237, 237, 237);
    --unity-colors-object_field-border: rgb(176, 176, 176);
    --unity-colors-object_field-border-focus: rgb(29, 80, 135);
    --unity-colors-object_field-border-hover: rgb(108, 108, 108);
    --unity-colors-object_field_button-background: rgb(222, 222, 222);
    --unity-colors-object_field_button-background-hover: rgb(204, 204, 204);
    --unity-colors-popup-background: rgb(193, 193, 193);
    --unity-colors-preview-background: rgb(193, 193, 193);
    --unity-colors-preview-border: rgb(153, 153, 153);
    --unity-colors-preview-text: rgb(9, 9, 9);
    --unity-colors-preview_overlay-text: rgb(255, 255, 255);
    --unity-colors-scrollbar_groove-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_groove-border: rgba(0, 0, 0, 0.1);
    --unity-colors-scrollbar_thumb-background: rgb(154, 154, 154);
    --unity-colors-scrollbar_thumb-background-hover: rgb(142, 142, 142);
    --unity-colors-scrollbar_thumb-border: rgb(185, 185, 185);
    --unity-colors-scrollbar_thumb-border-hover: rgb(142, 142, 142);
    --unity-colors-scrollbar_button-background: rgba(0, 0, 0, 0.05);
    --unity-colors-scrollbar_button-background-hover: rgb(167, 167, 167);
    --unity-colors-progress-background: rgb(96, 96, 96);
    --unity-colors-slider_groove-background: rgb(143, 143, 143);
    --unity-colors-slider_groove-background-disabled: rgb(164, 164, 164);
    --unity-colors-slider_thumb-background: rgb(97, 97, 97);
    --unity-colors-slider_thumb-background-disabled: rgb(155, 155, 155);
    --unity-colors-slider_thumb-background-hover: rgb(79, 79, 79);
    --unity-colors-slider_thumb-border: rgb(97, 97, 97);
    --unity-colors-slider_thumb-border-disabled: rgb(102, 102, 102);
    --unity-colors-slider_thumb_halo-background: rgba(12, 108, 203, 0.5);
    --unity-colors-tab-background: rgb(182, 182, 182);
    --unity-colors-tab-background-checked: rgb(203, 203, 203);
    --unity-colors-tab-background-hover: rgb(176, 176, 176);
    --unity-colors-tab-text: rgb(9, 9, 9);
    --unity-colors-toolbar-background: rgb(203, 203, 203);
    --unity-colors-toolbar-border: rgb(153, 153, 153);
    --unity-metrics-toolbar-height: 21px;
    --unity-colors-toolbar_button-background: rgb(203, 203, 203);
    --unity-colors-toolbar_button-background-hover: rgb(193, 193, 193);
    --unity-colors-toolbar_button-background-checked: rgb(239, 239, 239);
    --unity-colors-toolbar_button-background-focus: rgb(193, 193, 193);
    --unity-colors-toolbar_button-border: rgb(153, 153, 153);
    --unity-colors-toolbar_button-text: rgb(9, 9, 9);
    --unity-colors-toolbar_button-text-hover: rgb(9, 9, 9);
    --unity-colors-toolbar_button-text-checked: rgb(9, 9, 9);
    --unity-metrics-toolbar_button-height: 20px;
    --unity-colors-window-background: rgb(200, 200, 200);
    --unity-colors-window-border: rgb(147, 147, 147);
    --unity-colors-window-text: rgb(9, 9, 9);
    --unity-colors-inspector_titlebar-background: rgb(203, 203, 203);
    --unity-colors-inspector_titlebar-background-hover: rgb(214, 214, 214);
    --unity-colors-inspector_titlebar-border: rgb(127, 127, 127);
    --unity-colors-inspector_titlebar-border_accent: rgb(186, 186, 186);
    --unity-metrics-inspector_titlebar-height: 22px;
    --unity-theme-background-color-1: rgb(228, 228, 228);
    --unity-theme-background-color-2: rgb(236, 236, 236);
    --unity-theme-background-color-3: rgb(177, 177, 177);
    --unity-theme-background-color-4: rgb(190, 190, 190);
    --unity-theme-background-color-5: rgb(203, 203, 203);
    --unity-theme-background-color-6: rgb(193, 193, 193);
    --unity-theme-background-color-7: rgb(239, 239, 239);
    --unity-theme-background-color-8: rgb(223, 223, 223);
    --unity-theme-background-color-9: rgb(176, 176, 176);
    --unity-theme-background-color-10: rgb(182, 182, 182);
    --unity-theme-background-color-11: rgb(143, 143, 143);
    --unity-theme-background-color-12: rgb(97, 97, 97);
    --unity-theme-background-color-13: rgb(79, 79, 79);
    --unity-theme-background-color-14: rgb(164, 164, 164);
    --unity-theme-background-color-15: rgb(155, 155, 155);
    --unity-theme-background-color-16: rgba(12, 108, 203, 0.5);
    --unity-theme-background-color-17: rgb(200, 200, 200);
    --unity-theme-background-color-50: rgb(58, 114, 176);
    --unity-theme-background-color-51: rgba(0, 0, 0, 0.06);
    --unity-theme-background-color-52: rgb(174, 174, 174);
    --unity-theme-background-color-53: rgb(240, 240, 240);
    --unity-theme-background-color-54: rgb(165, 165, 165);
    --unity-theme-background-color-55: rgb(222, 222, 222);
    --unity-theme-background-color-56: rgb(204, 204, 204);
    --unity-theme-background-color-57: rgba(0, 0, 0, 0.05);
    --unity-theme-background-color-58: rgb(154, 154, 154);
    --unity-theme-background-color-59: rgb(167, 167, 167);
    --unity-theme-background-color-60: rgb(142, 142, 142);
    --unity-theme-background-color-80: rgb(202, 202, 202);
    --unity-theme-background-color-81: rgba(185, 185, 185, 0.9);
    --unity-theme-background-color-82: rgb(138, 138, 138);
    --unity-theme-background-color-83: rgb(101, 101, 101);
    --unity-theme-background-color-84: rgb(187, 187, 187);
    --unity-theme-background-color-85: rgb(193, 193, 193);
    --unity-theme-background-color-86: rgba(235, 235, 235, 0.2);
    --unity-theme-background-color-87: rgb(236, 236, 236);
    --unity-theme-background-color-88: rgb(203, 203, 203);
    --unity-theme-background-color-89: rgb(214, 214, 214);
    --unity-theme-background-color-90: rgb(96, 96, 96);
    --unity-theme-border-color-1: rgb(160, 160, 160);
    --unity-theme-border-color-2: rgb(16, 16, 16);
    --unity-theme-border-color-3: rgb(21, 21, 21);
    --unity-theme-border-color-4: rgb(127, 127, 127);
    --unity-theme-border-color-5: rgb(153, 153, 153);
    --unity-theme-border-color-6: rgb(183, 183, 183);
    --unity-theme-border-color-7: rgb(153, 153, 153);
    --unity-theme-border-color-8: rgb(147, 147, 147);
    --unity-theme-border-color-9: rgb(40, 40, 40);
    --unity-theme-border-color-10: rgb(178, 178, 178);
    --unity-theme-border-color-11: rgb(185, 185, 185);
    --unity-theme-border-color-12: rgb(51, 51, 51);
    --unity-theme-border-color-13: rgb(29, 80, 135);
    --unity-theme-border-color-14: rgb(99, 99, 99);
    --unity-theme-border-color-15: rgb(108, 108, 108);
    --unity-theme-border-color-16: rgb(102, 102, 102);
    --unity-theme-border-color-17: rgb(142, 142, 142);
    --unity-theme-border-color-18: rgb(112, 112, 112);
    --unity-theme-border-color-19: rgba(0, 0, 0, 0.1);
    --unity-theme-border-color-20: rgb(107, 107, 107);
    --unity-theme-border-color-21: rgb(127, 127, 127);
    --unity-theme-border-color-22: rgb(97, 97, 97);
    --unity-theme-text-color-1: rgb(9, 9, 9);
    --unity-theme-text-color-2: rgb(9, 9, 9);
    --unity-theme-text-color-3: rgb(9, 9, 9);
    --unity-theme-text-color-4: rgb(9, 9, 9);
    --unity-theme-text-color-5: rgb(255, 255, 255);
    --unity-theme-text-color-6: rgb(0, 50, 230);
    --unity-theme-text-color-7: rgb(9, 9, 9);
    --unity-theme-text-color-8: rgb(90, 0, 0);
    --unity-theme-text-color-9: rgb(51, 51, 8);
    --unity-theme-text-color-10: rgb(0, 60, 136);
    --unity-theme-text-color-11: rgb(76, 126, 255);
    --unity-theme-text-color-12: rgb(170, 0, 170);
    --unity-theme-text-color-13: rgb(255, 255, 255);
    --unity-icons-arrow_right: resource("Builtin Skins/LightSkin/Images/ArrowNavigationRight.png");
    --unity-icons-arrow_left: resource("Builtin Skins/LightSkin/Images/ArrowNavigationLeft.png");
    --unity-icons-clear: resource("UIPackageResources/Images/clear.png");
    --unity-icons-color_picker: resource("UIPackageResources/Images/color_picker.png");
    --unity-icons-console_entry_error: resource("Icons/console.erroricon.png");
    --unity-icons-console_entry_error_small: resource("Icons/console.erroricon.sml.png");
    --unity-icons-console_entry_info: resource("Icons/console.infoicon.png");
    --unity-icons-console_entry_info_small: resource("Icons/console.infoicon.sml.png");
    --unity-icons-console_entry_warn: resource("Icons/console.warnicon.png");
    --unity-icons-console_entry_warn_small: resource("Icons/console.warnicon.sml.png");
    --unity-icons-dropdown: resource("UIPackageResources/Images/dropdown.png");
    --unity-icons-dropdown_toggle: resource("UIPackageResources/Images/dropdown_toggle.png");
    --unity-icons-foldout: resource("UIPackageResources/Images/IN_foldout.png");
    --unity-icons-foldout-checked_focus: resource("UIPackageResources/Images/IN_foldout_focus_on.png");
    --unity-icons-foldout-checked_pressed: resource("UIPackageResources/Images/IN_foldout_act_on.png");
    --unity-icons-foldout-focus: resource("UIPackageResources/Images/IN_foldout_focus.png");
    --unity-icons-foldout-pressed: resource("UIPackageResources/Images/IN_foldout_act.png");
    --unity-icons-foldout-checked: resource("UIPackageResources/Images/IN_foldout_on.png");
    --unity-icons-link: resource("Icons/UnLinked.png");
    --unity-icons-link-checked: resource("Icons/Linked.png");
    --unity-icons-lock: resource("Builtin Skins/LightSkin/Images/IN LockButton.png");
    --unity-icons-lock-checked: resource("Builtin Skins/LightSkin/Images/IN LockButton on.png");
    --unity-icons-lock-checked_pressed: resource("Builtin Skins/LightSkin/Images/IN LockButton on act.png");
    --unity-icons-lock-pressed: resource("Builtin Skins/LightSkin/Images/IN LockButton act.png");
    --unity-icons-minus: resource("UIPackageResources/Images/ol_minus.png");
    --unity-icons-minus-hover: resource("UIPackageResources/Images/ol_minus_act.png");
    --unity-icons-pane_options: resource("Builtin Skins/LightSkin/Images/pane options.png");
    --unity-icons-picker: resource("UIPackageResources/Images/pick.png");
    --unity-icons-plus: resource("UIPackageResources/Images/ol_plus.png");
    --unity-icons-plus-hover: resource("UIPackageResources/Images/ol_plus_act.png");
    --unity-icons-profiler_timeline_digdown_arrow: resource("Profiler/ProfilerTimelineDigDownArrow.png");
    --unity-icons-profiler_timeline_rollup_arrow: resource("Profiler/ProfilerTimelineRollUpArrow.png");
    --unity-icons-pulldown: resource("UIPackageResources/Images/dropdown.png");
    --unity-icons-scroll_down: resource("UIPackageResources/Images/scrolldown.png");
    --unity-icons-scroll_left: resource("UIPackageResources/Images/scrollleft.png");
    --unity-icons-scroll_right: resource("UIPackageResources/Images/scrollright.png");
    --unity-icons-scroll_up: resource("UIPackageResources/Images/scrollup.png");
    --unity-icons-search: resource("UIPackageResources/Images/search_icon.png");
    --unity-icons-search_menu: resource("UIPackageResources/Images/search_menu.png");
    --unity-icons-shuriken_toggle-checked: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormalOn.png");
    --unity-icons-shuriken_toggle-checked_focus: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocusedOn.png");
    --unity-icons-shuriken_toggle-checked_hover: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHoverOn.png");
    --unity-icons-shuriken_toggle_bg: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormal.png");
    --unity-icons-shuriken_toggle_bg-focus: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocused.png");
    --unity-icons-shuriken_toggle_bg-focus_mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleFocusedMixed.png");
    --unity-icons-shuriken_toggle_bg-hover: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHover.png");
    --unity-icons-shuriken_toggle_bg-hover_mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleHoverMixed.png");
    --unity-icons-shuriken_toggle_bg-mixed: resource("Builtin Skins/LightSkin/Images/ShurikenToggleNormalMixed.png");
    --unity-icons-toggle-checked: resource("UIPackageResources/Images/toggle_on.png");
    --unity-icons-toggle-checked_focus: resource("UIPackageResources/Images/toggle_on_focus.png");
    --unity-icons-toggle-checked_hover: resource("UIPackageResources/Images/toggle_on_hover.png");
    --unity-icons-toggle-hover_mixed: resource("UIPackageResources/Images/toggle_on_hover.png");
    --unity-icons-toggle-focus_mixed: resource("UIPackageResources/Images/toggle_on_focus.png");
    --unity-icons-toggle-mixed: resource("UIPackageResources/Images/toggle_on.png");
    --unity-icons-toggle_bg: resource("UIPackageResources/Images/toggle_bg.png");
    --unity-icons-toggle_bg-focus: resource("UIPackageResources/Images/toggle_bg_focus.png");
    --unity-icons-toggle_bg-focus_mixed: resource("UIPackageResources/Images/toggle_mixed_bg_focus.png");
    --unity-icons-toggle_bg-hover: resource("UIPackageResources/Images/toggle_bg_hover.png");
    --unity-icons-toggle_bg-hover_mixed: resource("UIPackageResources/Images/toggle_mixed_bg_hover.png");
    --unity-icons-toggle_bg-mixed: resource("UIPackageResources/Images/toggle_mixed_bg.png");
    --unity-icons-window_button_close: resource("Icons/winbtn_win_close.png");
    --unity-icons-window_button_max: resource("Icons/winbtn_win_max.png");
    --unity-icons-window_button_restore: resource("Icons/winbtn_win_restore.png");
}

.unity-theme-env-variables {
    --theme-default-border-radius: 3px;
    --enable-style-hovering: true;
    --single-line-height: 18px;
    --theme-default-control-margin: 3px 3px 2px 3px;
    --theme-default-top-margin: 1px;
    --theme-default-bottom-margin: 1px;
    --theme-default-left-margin: 3px;
    --theme-default-right-margin: 3px;
    --window-toolbar-height: 21px;
    --unity-font-size: 11;
    --unity-font-size-semi-small: 10;
    --unity-font-size-tiny: 8;
    --unity-font-size-small: 9px;
    --unity-font-size-big: 12;
    --unity-font-size-very-big: 16;
    --unity-font-standard-padding-top: 2px;
    --unity-font-standard-padding-top-with-border: 1px;
    --unity-font-standard-padding-bottom: 3px;
    --unity-font-standard-padding-bottom-with-border: 2px;
    --unity-font-popup-padding-top: 0px;
    --unity-font-popup-padding-bottom: 2px;
    --unity-font-button-padding-top: 1px;
    --unity-font-button-padding-bottom: 3px;
    --unity-toolbar-padding-top: 1;
    --unity-toolbar-padding-bottom: 0;
    --current-font: resource("Fonts/System/System normal.ttf");
    --unity-text-color: rgb(9, 9, 9);
    --unity-active-text-color: rgb(0, 60, 136);
    --theme-window-text-color: rgb(9, 9, 9);
    --theme-window-border-color: rgb(102, 102, 102);
    --theme-window-background-color: rgba(179, 179, 179, 0.95);
    --theme-label-text-color: rgb(9, 9, 9);
    --theme-input-text-color: rgb(9, 9, 9);
    --theme-input-text-color-selected: rgb(0, 50, 230);
    --theme-input-text-color-hover: rgb(9, 9, 9);
    --theme-input-background-color: rgb(240, 240, 240);
    --theme-input-border-width: 1px;
    --theme-input-border-color: rgb(183, 183, 183);
    --theme-input-accent-border-color: rgb(160, 160, 160);
    --theme-input-border-focus-width: 1px;
    --theme-input-border-focus-color: rgb(29, 80, 135);
    --theme-input-border-hover-width: 1px;
    --theme-input-border-hover-color: rgb(108, 108, 108);
    --theme-input-border-checked-width: 1px;
    --theme-input-border-checked-color: rgb(108, 108, 108);
    --theme-object-field-background-color: rgb(237, 237, 237);
    --theme-object-field-border-width: 1px;
    --theme-object-field-border-color: rgb(176, 176, 176);
    --theme-object-field-border-hover-width: 1px;
    --theme-object-field-border-hover-color: rgb(108, 108, 108);
    --theme-object-field-border-focus-width: 1px;
    --theme-object-field-border-focus-color: rgb(29, 80, 135);
    --theme-object-field-border-checked-width: 1px;
    --theme-object-field-border-checked-color: rgb(108, 108, 108);
    --theme-object-field-button-background-color: rgb(222, 222, 222);
    --theme-object-field-button-background-color-hover: rgb(204, 204, 204);
    --theme-button-text-color: rgb(9, 9, 9);
    --theme-button-background-color: rgb(228, 228, 228);
    --theme-button-background-color-hover: rgb(236, 236, 236);
    --theme-button-background-color-checked: rgb(177, 177, 177);
    --theme-button-border-width: 1px;
    --theme-button-border-color: rgb(178, 178, 178);
    --theme-button-accent-border-color: rgb(147, 147, 147);
    --theme-toolbar-background-color: rgb(203, 203, 203);
    --theme-toolbar-button-text-color: rgb(9, 9, 9);
    --theme-toolbar-button-text-color-hover: rgb(9, 9, 9);
    --theme-toolbar-button-text-color-checked: rgb(9, 9, 9);
    --theme-toolbar-button-border-width: 1px;
    --theme-toolbar-button-border-color: rgb(153, 153, 153);
    --theme-toolbar-button-border-2-width: 1px;
    --theme-toolbar-button-border-2-color: rgb(153, 153, 153);
    --theme-toolbar-button-background-color: rgb(203, 203, 203);
    --theme-toolbar-button-background-color-hover: rgb(193, 193, 193);
    --theme-toolbar-button-background-color-checked: rgb(239, 239, 239);
    --theme-toolbar-button-background-color-focus: rgb(193, 193, 193);
    --theme-app-toolbar-button-border-width: 1px;
    --theme-app-toolbar-button-border-color: rgb(107, 107, 107);
    --theme-dropdown-border-width: 1px;
    --theme-dropdown-border-color: rgb(178, 178, 178);
    --theme-dropdown-accent-border-color: rgb(147, 147, 147);
    --theme-dropdown-text-color: rgb(9, 9, 9);
    --theme-dropdown-background-color: rgb(223, 223, 223);
    --theme-dropdown-background-color-hover: rgb(228, 228, 228);
    --theme-scrollbar-thumb-background-color: rgb(154, 154, 154);
    --theme-scrollbar-thumb-border-width: 1px;
    --theme-scrollbar-thumb-border-color: rgb(185, 185, 185);
    --theme-scrollbar-thumb-background-color-hover: rgb(142, 142, 142);
    --theme-scrollbar-border-color: rgba(0, 0, 0, 0.1);
    --theme-scrollbar-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color: rgba(0, 0, 0, 0.05);
    --theme-scrollbar-button-background-color-hover: rgb(167, 167, 167);
    --theme-slider-background-color: rgb(143, 143, 143);
    --theme-slider-background-color-disabled: rgb(164, 164, 164);
    --theme-slider-thumb-background-color: rgb(97, 97, 97);
    --theme-slider-thumb-background-color-hover: rgb(79, 79, 79);
    --theme-slider-thumb-background-color-disabled: rgb(155, 155, 155);
    --theme-slider-thumb-border-width: 1px;
    --theme-slider-thumb-border-color: rgb(97, 97, 97);
    --theme-slider-thumb-border-color-disabled: rgb(102, 102, 102);
    --theme-slider-thumb-extent-background-color-focus: rgba(12, 108, 203, 0.5);
    --theme-box-background-color: rgba(185, 185, 185, 0.9);
    --theme-box-border-color: transparent;
    --theme-help-box-background-color: rgb(202, 202, 202);
    --theme-help-box-border-color: rgb(154, 154, 154);
    --theme-help-box-icon-info: resource("UIPackageResources/Images/console.infoicon.png");
    --theme-help-box-icon-warning: resource("UIPackageResources/Images/console.warnicon.png");
    --theme-help-box-icon-error: resource("UIPackageResources/Images/console.erroricon.png");
    --theme-list-view-drag-hover-bar-color: rgb(51, 86, 218);
    --theme-list-view-drag-hover-item-background-color: rgb(62, 95, 150);
    --theme-image-pick: resource("UIPackageResources/Images/pick_uielements.png");
    --theme-image-toggle-bg: resource("UIPackageResources/Images/toggle_bg.png");
    --theme-image-toggle-bg-hover: resource("UIPackageResources/Images/toggle_bg_hover.png");
    --theme-image-toggle-bg-focus: resource("UIPackageResources/Images/toggle_bg_focus.png");
    --theme-image-toggle-on: resource("UIPackageResources/Images/toggle_on.png");
    --theme-image-toggle-on-hover: resource("UIPackageResources/Images/toggle_on_hover.png");
    --theme-image-toggle-on-focus: resource("UIPackageResources/Images/toggle_on_focus.png");
    --theme-image-foldout: resource("UIPackageResources/Images/IN_foldout.png");
    --theme-image-foldout-act: resource("UIPackageResources/Images/IN_foldout_act.png");
    --theme-image-foldout-focus: resource("UIPackageResources/Images/IN_foldout_focus.png");
    --theme-image-foldout-on: resource("UIPackageResources/Images/IN_foldout_on.png");
    --theme-image-foldout-on-act: resource("UIPackageResources/Images/IN_foldout_act_on.png");
    --theme-image-foldout-on-focus: resource("UIPackageResources/Images/IN_foldout_focus_on.png");
    --theme-image-pulldown: resource("UIPackageResources/Images/dropdown.png");
    --theme-image-dropdown: resource("UIPackageResources/Images/dropdown.png");
    --theme-image-search: resource("UIPackageResources/Images/search_icon.png");
    --theme-image-popup-search: resource("UIPackageResources/Images/search_menu.png");
    --theme-image-clear: resource("UIPackageResources/Images/clear_uielements.png");
    --theme-image-toolbar-breadcrumbs-item: resource("UIPackageResources/Images/breadcrump_mid.png");
    --theme-image-toolbar-breadcrumbs-item-active: resource("UIPackageResources/Images/breadcrump_mid_act.png");
    --theme-image-toolbar-breadcrumbs-first-item: resource("UIPackageResources/Images/breadcrump_left.png");
    --theme-image-toolbar-breadcrumbs-first-item-active: resource("UIPackageResources/Images/breadcrump_left_act.png");
    --theme-image-scroll-up: resource("UIPackageResources/Images/scrollup_uielements.png");
    --theme-image-scroll-down: resource("UIPackageResources/Images/scrolldown_uielements.png");
    --theme-image-scroll-left: resource("UIPackageResources/Images/scrollleft_uielements.png");
    --theme-image-scroll-right: resource("UIPackageResources/Images/scrollright_uielements.png");
    --theme-view-background-color: rgb(194, 194, 194);
    --theme-line-background-color-hover: rgb(178, 178, 178);
    --theme-background-color-alternate: rgb(188, 188, 188);
    --theme-line-selection-background-color: rgb(174, 174, 174);
    --theme-line-selection-background-color-focus: rgb(58, 114, 176);
    --theme-line-selection-text-color: rgb(255, 255, 255);
    --progress-bar-back-background-color: rgb(182, 182, 182);
    --progress-bar-back-border-color: rgb(128, 128, 128);
    --progress-bar-progress-image: resource("UIPackageResources/Images/progress_front.png");
}

.unity-toolbar {
    height: 21px;
    flex-direction: row;
    align-items: stretch;
    white-space: nowrap;
    background-color: rgb(203, 203, 203);
    border-bottom-width: 1px;
    border-color: rgb(153, 153, 153);
    font-size: 11;
}

.unity-toolbar-toggle {
    left: -1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1;
    padding-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -1px;
    color: rgb(9, 9, 9);
    background-color: rgb(203, 203, 203);
    border-width: 1px;
    border-color: rgb(153, 153, 153);
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-toolbar-toggle:hover {
    color: rgb(9, 9, 9);
    background-color: rgb(193, 193, 193);
}

.unity-toolbar-toggle:active {
    color: rgb(9, 9, 9);
    background-color: rgb(239, 239, 239);
}

.unity-toolbar-toggle:checked {
    color: rgb(9, 9, 9);
    background-color: rgb(239, 239, 239);
}

.unity-toolbar-toggle .unity-toggle__checkmark {
    background-image: none;
    padding-top: 0;
    width: 0;
    height: 0;
    flex: 0 0 auto;
    align-self: center;
}

.unity-toolbar-toggle .unity-toggle__input {
    margin-bottom: 1px;
}

.unity-toolbar-button {
    left: -1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1;
    padding-bottom: 0;
    color: rgb(9, 9, 9);
    background-color: rgb(203, 203, 203);
    border-width: 1px;
    border-color: rgb(153, 153, 153);
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-toolbar-button:hover {
    color: rgb(9, 9, 9);
    background-color: rgb(193, 193, 193);
}

.unity-toolbar-button:active {
    color: rgb(9, 9, 9);
    background-color: rgb(239, 239, 239);
}

.unity-toolbar-menu {
    margin-left: -1px;
    flex-direction: row;
    padding-left: 4px;
    padding-right: 2px;
    align-items: center;
    color: rgb(9, 9, 9);
    background-color: rgb(203, 203, 203);
    border-width: 1px;
    border-color: rgb(153, 153, 153);
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-toolbar-menu:hover {
    color: rgb(9, 9, 9);
    background-color: rgb(193, 193, 193);
}

.unity-toolbar-menu:active {
    color: rgb(9, 9, 9);
    background-color: rgb(239, 239, 239);
}

.unity-toolbar-menu__text {
    overflow: hidden;
    -unity-text-align: middle-left;
    white-space: nowrap;
    flex-grow: 1;
}

.unity-toolbar-menu__arrow {
    background-image: resource("UIPackageResources/Images/dropdown.png");
    width: 12px;
    height: 12px;
    align-self: center;
}

.unity-toolbar-spacer {
    width: 6px;
}

.unity-toolbar-spacer--flexible {
    flex: 1;
    width: initial;
}

.unity-toolbar-breadcrumbs {
    flex-direction: row;
}

.unity-toolbar-breadcrumbs__item {
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 0;
    -unity-slice-left: 10;
    -unity-slice-right: 10;
    -unity-slice-top: 1;
    -unity-slice-bottom: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -unity-text-align: middle-center;
    margin-left: -10px;
    color: rgb(9, 9, 9);
    background-image: resource("UIPackageResources/Images/breadcrump_mid.png");
}

.unity-toolbar-breadcrumbs__item:active {
    background-image: resource("UIPackageResources/Images/breadcrump_mid_act.png");
}

.unity-toolbar-breadcrumbs__first-item {
    -unity-slice-left: 1;
    margin-left: 0;
    padding-left: 10px;
    background-image: resource("UIPackageResources/Images/breadcrump_left.png");
}

.unity-toolbar-breadcrumbs__first-item:active {
    background-image: resource("UIPackageResources/Images/breadcrump_left_act.png");
}

.unity-binding__prefab-override-bar {
    background-color: rgb(50, 163, 225);
}

.unity-binding--animation-animated {
    -unity-background-image-tint-color: rgb(209, 247, 255);
}

.unity-binding--animation-animated > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(209, 247, 255);
}

.unity-binding--animation-recorded {
    -unity-background-image-tint-color: rgb(255, 153, 153);
}

.unity-binding--animation-recorded > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 153, 153);
}

.unity-binding--animation-candidate {
    -unity-background-image-tint-color: rgb(255, 178, 153);
}

.unity-binding--animation-candidate > .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(255, 178, 153);
}

.unity-min-max-slider__dragger {
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb.png");
}

.unity-min-max-slider__input:active > .unity-min-max-slider__dragger:hover {
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb_act.png");
}

.unity-min-max-slider__input:focus > .unity-min-max-slider__dragger {
    background-image: resource("UIPackageResources/Images/minmax_slider_thumb.png");
}

.unity-base-text-field__input {
    --unity-cursor-color: rgb(0, 0, 0);
}

.unity-gradient-field__border {
    border-color: rgb(105, 105, 105);
}

.unity-gradient-field__input:focus > .unity-gradient-field__border {
    border-color: rgb(51, 81, 226);
}
